* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
.bar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 4.8rem;
  padding: 0 0.8rem;
  text-align: center;
  right: 20%;
}
.inner-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  background: rgb(80, 76, 76);
  padding: 0.8rem 1.2rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.button {
  outline: none;
  padding: 0.4rem 1.6rem;
  border: none;
  border-radius: 1.5rem;
  color: black;
  font-size: 700;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
